/* здесь используйте глобальные переменные */
$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$primary-color: #68b738;
$text-font-color: #000000;
$paragraf-font-color: #444444;
$basic-text-background: #ffffff;
