/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./global/visually-hidden.scss";
@import "./global/common.scss";


/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/main-title.scss";
@import "./blocks/button.scss";
@import "./blocks/purpose.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/socials.scss";
@import "./blocks/coopyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/cards.scss";
@import "./blocks/card.scss";
@import "./blocks/more.scss";
@import "./blocks/catalog-add.scss";
@import "./blocks/card-add.scss";
@import "./blocks/gift.scss";
@import "./blocks/inner.scss";
@import "./blocks/form.scss";
@import "./blocks/form-group.scss";
