/* stylelint-disable indentation */
.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  @include list();
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 22px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $paragraf-font-color;


&::before {
  content: "";
  display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &--nutrition::before {
   background-image: url("../../images/icons/stack.svg#advantages-1");
  }

  &--cooking::before {
    background-image: url("../../images/icons/stack.svg#advantages-2");
  }

  &--meal::before {
    background-image: url("../../images/icons/stack.svg#advantages-3");
  }

  &--loss::before {
    background-image: url("../../images/icons/stack.svg#advantages-4");
  }
}
