.advantages__title {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  @include list();
}

.advantages__item {
  font-family: $secondary-font;
  line-height: 18px;
  color: $paragraf-font-color;
}
