.card-add__title {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.card-add__list {
  @include list();
}

.card-add__list-name .card-add__list-value {
  font-family: $secondary-font;
  text-align: center;
  line-height: 14px;
  color: $paragraf-font-color;
}
