.catalog {
  font-size: 16px;
}

.catalog__list {
  @include list();
  margin-bottom: 25px;
}

.catalog__title {
  @include container();
  padding-top: 27px;
  padding-bottom: 41px;
  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    margin-bottom: 74px;
    border: none;
  }

  .catalog__list {
    @include container();
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 70px;
  }


  @media (min-width: $desktop-width) {
    .catalog__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .catalog {
      & .map__information {
        background-color: #ffffff;
      }
    }
  }
}
