.coopyright {
  @include link();
  display: flex;
  justify-content: space-between;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../images/icons/stack.svg#logo-html-academy");
    background-repeat: no-repeat;
    background-color: #666666;
  }

  &:hover::after {
    background-color: $primary-color;
  }

  &:focus::after {
    background-color: $primary-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.coopyright__text {
  font-family: $secondary-font;
  color: $paragraf-font-color;
  line-height: 20px;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .coopyright__text {
    padding-right: 23px;
  }
}
