.form-group {
  display: flex;
  flex-direction: column;
  border: none;
}

.form-group__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;

  &--radio {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &--textarea {
    width: 100%;
    min-height: 140px;
    font-family: $primary-font;
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid #e7e7e7;
  }

  &--checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;

    & input {
      flex-grow: 0;
      padding: 0;
      margin: 0;
    }
  }
}

.form-group__input-wrapper {
  position: relative;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    font-size: 0;
    top: 13px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: $text-font-color;
  }

  & input {
    width: 100%;
  }

  &--phone::after {
    mask-image: url("../../images/icons/stack.svg#phone-stroke");
  }

  &--email::after {
    mask-image: url("../../images/icons/stack.svg#email-stroke");
  }

  &:hover {
    border: 1px solid #cdcdcd;
    border-radius: 0;
  }

  &:focus {
    border: 2px solid $paragraf-font-color;
    border-radius: 0;
  }
}

.form-group__item-input::placeholder {
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;
  font-weight: 400;
  font-size: 16px;
}

.form-group__item-input {
  flex-grow: 1;
  margin-left: 13px;
  padding: 14px 15px 13px 15px;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  border-radius: 0;
}

.form-group__title {
  color: $text-font-color;
  font-size: 24px;
  line-height: 26px;
  padding-bottom: 35px;
}
