.form-group {
  display: flex;
  flex-direction: column;
  border: none;
}

.form-group__item {
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;
}

.form-group__field::placeholder {
  line-height: 18px;
  text-transform: uppercase;
  color: $paragraf-font-color;
}

.form-group__title {
  font-size: 24px;
  line-height: 26px;
  color: $text-font-color;
}
