.hero {
  position: relative;
}

.hero__content {
  background-image: url("../../images/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 302px;
  overflow-wrap: break-word;
  background-position-x: center;
}

.hero__title {
  width: 320px;
  margin: 0 auto;
  padding: 27px 10px 10px 10px;
}

.hero__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  width: 280px;
  display: block;
  margin: 138px 20px 0;
  padding: 10px 44px;
}

.hero__image {
  content: "";
  display: block;
  position: absolute;
  top: 167px;
  left: calc(55% - ($mobile-width/2));
}

@media (min-width: $tablet-width) {
  .hero {
    min-height: 810px;
  }

  .hero__content {
    min-height: auto;
    padding-left: 80px;
    background-image: none;
    background-color: unset;
  }

  .hero__title {
    width: 520px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 0;
    text-align: left;
  }

  .hero__slogan {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
    color: $text-font-color;
    text-align: left;
    padding-left: 10px;
  }

  .hero__image {
    z-index: -1;
    top: 24%;
    left: calc(54% - ($tablet-width/2));
  }

  .hero__button {
    width: 244px;
    margin-top: 0;
    margin-left: 90px;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    @include container();
    min-height: 633px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -195px;
      right: -110px;
      width: 720px;
      height: 694px;
      z-index: -2;
      background-image: url("../../images/index-background-desktop@1x.jpg");
    }
  }

  .hero__content {
    padding-left: 80px;
  }

  .hero__button {
    margin-left: 80px;
  }

  .hero__image {
    top: -32px;
    left: calc(50% - ($mobile-width/2));
  }
}
