.main-footer {
  background-color: $basic-text-background;
}

.main-footer__wrapper {
  @include container();
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.main-footer__logo {
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;

  & .logo__text {
    width: 128px;
    height: 24px;
    margin-left: 0;
    align-self: center;
  }
}

.main-footer__socials {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 20px;
}

.main-footer__coopyright {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .main-footer__logo,
  .main-footer__socials {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding: 66px 0;
  }
}
