/* stylelint-disable indentation */
.more {
  padding: 20px 25px;
  border-bottom: 1px solid #ebebeb;
}

.more__title {
  @include link();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  position: relative;
  margin: 0;
  padding-top: 23px;
  font-weight: 400;

  & h2 {
  margin: 0;
  font-weight: 400;
}
}

.more__title::before {
  content: "";
  position: absolute;
  top: -23px;
  left: 45%;
  width: 30px;
  height: 30px;
  background-image: url("../../images/icons/stack.svg#plus");
  background-repeat: no-repeat;
}

.more__text {
  width: 100%;
  position: relative;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 21px;
  text-align: center;
  font-weight: 400;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $paragraf-font-color;
}

.more__button {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .more {
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ebebeb;
    padding: 50px 20px 40px;
  }

  .more__title {
    width: 134px;
    padding-bottom: 23px;
  }

  .more__text {
    width: 168px;
    padding-bottom: 82px;
  }
}
