.page {
  font-family: $primary-font;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 400;
  color: $text-font-color;
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
}
